#C5 {
    position: fixed;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    height: 250px;
    left: 650px;
    margin-top: -125px;
    margin-left: -125px;
    top: 350px;
    width: 250px;
    border: 5px solid rgb(19, 18, 18);
}

#C1 {
    z-index: 1;
    position: fixed;
    background-color: yellow;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    left: 450px;
    top: 400px;
    border: 15px solid rgb(19, 18, 18);
}

#C1:hover,
#C1:focus {
    background-color: rgb(190, 190, 36);
}

#C1:active,
#C1.activated {
    background-color: rgb(0, 0, 0);
}

#C2 {
    z-index: 1;
    position: fixed;
    background-color: rgb(27, 136, 238);
    border-radius: 50%;
    height: 150px;
    left: 680px;
    top: 400px;
    width: 150px;
    border: 15px solid rgb(19, 18, 18);
}

#C2:hover,
#C2:focus {
    background-color: rgb(36, 133, 190);
}

#C2:active,
#C2.activated {
    background-color: rgb(0, 0, 0);
}

#C3 {
    z-index: 1;
    position: fixed;
    background-color: rgb(238, 27, 27);
    border-radius: 50%;
    height: 150px;
    left: 680px;
    top: 150px;
    width: 150px;
    border: 15px solid rgb(19, 18, 18);
}

#C3:hover,
#C3:focus {
    background-color: rgb(143, 34, 34);
}

#C3:active,
#C3.activated {
    background-color: rgb(0, 0, 0);
}

#C4 {
    z-index: 1;
    position: fixed;
    background-color: rgb(33, 223, 16);
    border-radius: 50%;
    height: 150px;
    left: 450px;
    top: 150px;
    width: 150px;
    border: 15px solid rgb(19, 18, 18);
}

#C4:hover,
#C4:focus {
    background-color: rgb(9, 155, 41);
}

#C4:active,
#C4.activated {
    background-color: rgb(0, 0, 0);
}

.Startbutton {
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
    z-index: 1;
    position: fixed;
    left: 616px;
    top: 350px;
    background: rgb(185, 181, 181);
    border-radius: 10px;
    height: 35px;
}

#CurrentScore {
    font-family: 'Orbitron', sans-serif;
}

#RecordScore {
    font-family: 'Orbitron', sans-serif;
}

#DisplayCurr {
    position: fixed;
    border: solid 3px black;
    border-radius: 10px;
    height: 35px;
    width: 35px;
    background: rgb(185, 181, 181);
    font-size: 15px;
    line-height: 40px;
    text-align: center;
    top: 345px;
    left: 550px;
}

#DisplayRec {
    position: fixed;
    border: solid 3px black;
    border-radius: 10px;
    height: 35px;
    width: 35px;
    background: rgb(185, 181, 181);
    font-size: 15px;
    line-height: 40px;
    text-align: center;
    top: 345px;
    left: 720px;
}

#box1 {
    vertical-align: top;
    display: inline-block;
    height: 50px;
    width: 50.3px;
}

#box2 {
    vertical-align: top;
    display: inline-block;
    height: 50px;
    width: 50.3px;
}

#StartLight {
    position: fixed;
    border: solid 1px black;
    border-radius: 50px;
    height: 10px;
    width: 10px;
    margin: 0px 12.7px 0px 12.7px;
    background: rgb(214, 10, 10);
    font-size: 20px;
    line-height: 17px;
    text-align: center;
    left: 640px;
    top: 400px;
}

#Light {
    vertical-align: top;
    display: inline-block;
    height: 50px;
    width: 50.4px;
}

.dontClick {
    pointer-events: none;
}

input {
    text-align: center;
    width: 20px;
    background-color: rgb(185, 181, 181);
    color: black;
}